<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: header}">
</head>
<body>
    <div th:replace="~{fragments/navbar.html :: navbar-content}"></div>
    <div th:replace="~{fragments/toast :: toast}"></div>

<div class="configurations d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="dropdown mb-3" id="actionDropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="tenantDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Choose Action
        </button>
        <ul class="dropdown-menu" aria-labelledby="tenantDropdown">
            <li><a class="dropdown-item" href="#" onclick="loadDefaultTenant()">Generate Default Tenant</a></li>
            <li><hr class="dropdown-divider"></li>
            <!-- Tenants will be populated here -->
        </ul>
    </div>

    <!-- Single Monaco Editor Container, hidden initially -->
    <div class="editor-container rounded mt-1 d-none" id="editor-tenant" data-language="yaml"></div>

    <div class="fixed-bottom d-flex justify-content-center d-none " id="submit-div" style="margin-bottom: 5px;" >
        <button class="btn btn-primary mt-3" id="submitBtn" onclick="submitTenantSelection()">Submit</button>
    </div>
</div>


<!-- External script imports -->
<script src="/js/main.js"></script>
<script src="/js/save.js"></script>
<script src="/js/export-new.js"></script>
<script src="/js/reset.js"></script>
<script src="/js/toast.js"></script>
</body>
</html>

